<html>

<head>
	<link rel="icon" href="favicon.ico">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"/>

	<link rel="stylesheet" href="./css/styles.css">
	<!--	 <link rel="stylesheet" href="../static/css/styles.css">-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/5cad909fe4.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

</head>

<body>

<!-- Navigation Bar -->
<div id="main-toolbar">
	<nav class="navigation-bar py-3 text-white">
		<div id="homeTab">
			<button id="homeBtn" class="btn btn-outline-light nav-btn" type="button">
				<i class="fas fa-home"></i>
				<p>Home</p>
			</button>
		</div>
		<div id="stateTab">
			<button id="stateDropdown" class="btn btn-outline-light nav-btn dropdown-toggle" type="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-flag-usa"></i>
				<p>States</p>
			</button>
			<div class="dropdown-menu" aria-labelledby="stateDropdown">
				<a name="stateToggle" class="dropdown-item" data-toggle="toggle" data-target="#state-pane"
				   value="Ohio">Ohio</a>
				<a name="stateToggle" class="dropdown-item" data-toggle="toggle" data-target="#state-pane"
				   value="Alabama">Alabama</a>
				<a name="stateToggle" class="dropdown-item" data-toggle="toggle" data-target="#state-pane"
				   value="Oregon">Oregon</a>
			</div>
		</div>
		<div id="blocTab">
			<button id="blocBtn" class="btn btn-outline-light nav-btn" type="button" name="paneToggle"
					data-toggle="toggle" data-target="#bloc-pane">
				<i class="far fa-chart-bar"></i>
				<p>Bloc Analysis</p>
			</button>
		</div>
		<div id="gerryTab">
			<button id="gerryBtn" class="btn btn-outline-light nav-btn" type="button" name="paneToggle"
					data-toggle="toggle" data-target="#gerry-pane">
				<i class="fas fa-balance-scale-right"></i>
				<p>Gerrymander</p>
			</button>
		</div>
		<div id="annealTab">
			<button id="annealBtn" class="btn btn-outline-light nav-btn" type="button" name="paneToggle"
					data-toggle="toggle" data-target="#anneal-pane">
				<i class="fas fa-chart-line"></i>
				<p>Annealing</p>
			</button>
		</div>
	</nav>
</div>

<!-- State -->
<div id="state-pane" class="pane text-dark border">
	<div class="return-pane">
		<button name="paneToggle" class="btn btn-outline-secondary btn-circle nav-btn" type="button"
				data-toggle="toggle" data-target="#state-pane">
			<i class="fas fa-arrow-left"></i>
		</button>
	</div>
	<div id="state-contents" class="contents p-2">
		<div id="state-title" class="mb-3">
			<h4><i class="fas fa-flag-usa mr-2"></i>States</h4>
		</div>
		<hr>
		<div id="election-results">
			<h6>Election Results</h6>
			<div id="election-years">
				<div class="election1 mr-1">
					<input type="radio" class="mb-1" name="electionYear" value="2016" checked="true"> 2016<br>
				</div>
				<div class="election2 mx-2">
					<input type="radio" class="mb-1" name="electionYear" value="2012"> 2012<br>
				</div>
				<div class="election3 ml-1">
					<input type="radio" class="mb-1" name="electionYear" value="2008"> 2008<br>
				</div>
			</div>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						<p>Party</p>
					</th>
					<th scope="col">
						<p>Votes</p>
					</th>
					<th scope="col">
						<p>Percentage</p>
					</th>
				</tr>
				</thead>
				<tbody id="state-election-results">
				<tr>
					<td>
						<p>Republican</p>
					</td>
					<td>
						<p>6,017,880</p>
					</td>
					<td>
						<p>51.7%</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Democratic</p>
					</td>
					<td>
						<p>5,075,040</p>
					</td>
					<td>
						<p>43.6%</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div id="demo-results">
			<h6>State Demographic Data</h6>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Demographic</th>
					<th scope="col">Population</th>
					<th scope="col">Percentage</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>White</td>
					<td>9,574,110</td>
					<td>81.9%</td>
				</tr>
				<tr>
					<td>African-American</td>
					<td>1,519,700</td>
					<td>13%</td>
				</tr>
				<tr>
					<td>Asian-Pacific</td>
					<td>292,250</td>
					<td>2.5%</td>
				</tr>
				<tr>
					<td>Hispanic</td>
					<td>455,910</td>
					<td>3.9%</td>
				</tr>
				</tbody>
			</table>
			</table>
		</div>
		<div id="district-info" class="hide">
			<h6>District Info</h6>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">District</th>
					<th scope="col">Incumbent</th>
					<th scope="col">Party</th>
				</tr>
				</thead>
				<tbody id="district-info-table">
				</tbody>
			</table>
		</div>
		<div id="district-demo-data" class="hide">
			<h6>District Demographic Data</h6>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Demographic</th>
					<th scope="col">Population</th>
					<th scope="col">Percentage</th>
				</tr>
				</thead>
				<tbody id="district-demo-table">
				</tbody>
			</table>
		</div>
		<div id="district-election-results" class="hide">
			<h6>District Election Results</h6>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">District</th>
					<th scope="col">Party</th>
					<th scope="col">Votes</th>
					<th scope="col">Percentage</th>
				</tr>
				</thead>
				<tbody>
				</tbody>
			</table>
		</div>
		<div id="precinct-voting-data" class="hide">
			<h6>Precinct Voting Data</h6>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Precinct</th>
					<th scope="col">Party</th>
					<th scope="col">Votes</th>
					<th scope="col">Percentage</th>
				</tr>
				</thead>
				<tbody id="precinct-votes-table">
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Bloc Analysis -->
<div id="bloc-pane" class="pane text-dark border">
	<div class="return-pane">
		<button name="paneToggle" class="btn btn-outline-secondary btn-circle nav-btn" type="button"
				data-toggle="toggle" data-target="#bloc-pane">
			<i class="fas fa-arrow-left"></i>
		</button>
	</div>
	<div id="bloc-contents" class="contents p-2">
		<div id="bloc-title" class="mb-3">
			<h4><i class="far fa-chart-bar mr-2"></i>Bloc Analysis</h4>
		</div>
		<div id="bloc-run">
			<hr>
			<p class="mb-1">Bloc Population Threshold: <span id="population"></span> %</p>
			<input type="range" id="popSlider" class="slider mb-2" min="1" max="100" value="50">
			<p class="mb-1">Bloc Vote Threshold: <span id="vote"></span> %</p>
			<input type="range" id="voteSlider" class="slider mb-2" min="1" max="100" value="50">
				<button id="runBlocs" class="btn btn-outline-success btn-sm sameLine">Analyze</button>
				<p class = "alert sameLine hide"> Please select a state first.</p>
			<hr>
		</div>
		<div id="bloc-results" class="hide">
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">Demographic</th>
					<th scope="col">Blocs</th>
					<th scope="col">Vote Blocs</th>
					<th scope="col">Majority Party</th>
				</tr>
				</thead>
				<tbody id="bloc-tbody">
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Gerrymander -->
<div id="gerry-pane" class="pane text-dark border">
	<div class="return-pane">
		<button name="paneToggle" class="btn btn-outline-secondary btn-circle nav-btn" type="button"
				data-toggle="toggle" data-target="#gerry-pane">
			<i class="fas fa-arrow-left"></i>
		</button>
	</div>
	<div id="gerry-contents" class="contents p-2">
		<div id="gerry-title" class="mb-3">
			<h4 class="sameLine"><i class="fas fa-balance-scale-right mr-2 sameLine"></i>Gerrymander</h4>
			<button id="legalGuide" class="btn btn-outline-success btn-sm my-2">Legal Guidelines</button>

			<!-- The Modal -->
			<div id="myModal" class="modal">

			  <!-- Modal content -->
			  <div class="modal-content">
			    <span class="close">&times;</span>
			    <p>(A) The Ohio redistricting commission shall be responsible for the redistricting of this state for the general assembly. The commission shall consist of the following seven members:

					(1) The governor;

					(2) The auditor of state;

					(3) The secretary of state;

					(4) One person appointed by the speaker of the house of representatives;

					(5) One person appointed by the legislative leader of the largest political party in the house of representatives of which the speaker of the house of representatives is not a member;

					(6) One person appointed by the president of the senate; and

					(7) One person appointed by the legislative leader of the largest political party in the senate of which the president of the senate is not a member.

					No appointed member of the commission shall be a current member of congress.

					The legislative leaders in the senate and the house of representatives of each of the two largest political parties represented in the general assembly, acting jointly by political party, shall appoint a member of the commission to serve as a co-chairperson of the commission.

					(B)(1) Unless otherwise specified in this article or in Article XIX of this constitution, a simple majority of the commission members shall be required for any action by the commission.

					(2)(a) Except as otherwise provided in division (B)(2)(b) of this section, a majority vote of the members of the commission, including at least one member of the commission who is a member of each of the two largest political parties represented in the general assembly, shall be required to do any of the following:
					(i) Adopt rules of the commission;
					(ii) Hire staff for the commission;
					(iii) Expend funds.

					(b) If the commission is unable to agree, by the vote required under division (B)(2)(a) of this section, on the manner in which funds should be expended, each co-chairperson of the commission shall have the authority to expend one-half of the funds that have been appropriated to the commission.

					(3) The affirmative vote of four members of the commission, including at least two members of the commission who represent each of the two largest political parties represented in the general assembly shall be required to adopt any general assembly district plan. For the purposes of this division and of Section 1 of Article XIX of this constitution, a member of the commission shall be considered to represent a political party if the member was appointed to the commission by a member of that political party or if, in the case of the governor, the auditor of state, or the secretary of state, the member is a member of that political party.

					(C) At the first meeting of the commission, which the governor shall convene only in a year ending in the numeral one, except as provided in Sections 8 and 9 of this article and in Sections 1 and 3 of Article XIX of this constitution, the commission shall set a schedule for the adoption of procedural rules for the operation of the commission.

					The commission shall release to the public a proposed general assembly district plan for the boundaries for each of the ninety-nine house of representatives districts and the thirty-three senate districts. The commission shall draft the proposed plan in the manner prescribed in this article. Before adopting, but after introducing, a proposed plan, the commission shall conduct a minimum of three public hearings across the state to present the proposed plan and shall seek public input regarding the proposed plan. All meetings of the commission shall be open to the public. Meetings shall be broadcast by electronic means of transmission using a medium readily accessible by the general public.

					The commission shall adopt a final general assembly district plan not later than the first day of September of a year ending in the numeral one. After the commission adopts a final plan, the commission shall promptly file the plan with the secretary of state. Upon filing with the secretary of state, the plan shall become effective.

					Four weeks after the adoption of a general assembly district plan or a congressional district plan, whichever is later, the commission shall be automatically dissolved.

					(D) The general assembly shall be responsible for making the appropriations it determines necessary in order for the commission to perform its duties under this article and Article XIX of this constitution.

					(SJR 5, 132nd General Assembly, Approved May 8, 2018; Effective 1/1/2021)

					(HJR 12, 130th General Assembly; Former § 1 repealed; Approved November 3, 2015; Effective 1/1/2021)

					(Enacted Nov. 7, 1967. Former § 1 repealed, see SJR 24, 107th General Assembly.)</p>
			  </div>

			</div>

			<p class = "alert2 sameLine hide"> Please select a state first.</p>
		</div>
		<div id="gerry-run">
			<hr>
			<div id="gerry-demographics">
				<h6 class="mb-1">Majority-Minority Demographics</h6>
				<input type="checkbox" class="gerry-demo" name="demographic" value="Black"> African-American<br>
				<input type="checkbox" class="gerry-demo" name="demographic" value="Asian"> Asian Pacific<br>
				<input type="checkbox" class="gerry-demo" name="demographic" value="Hispanic"> Hispanic<br>
				<input type="checkbox" class="gerry-demo hide" name="demographic" value="White">
			</div>
			<div id="gerry-range">
				<p class="mt-2 mb-1">
					Demographic Population Range: <span id="popRange"></span>
				</p>
				<div id="slider-range"></div>
			</div>
			<h6 class="mb-2">Congressional Districts</h6>
			<div class="input-group input-group-sm">
				<div class="input-group-prepend">
					<span class="input-group-text" id="cong-dist">Desired Number of Congressional Districts</span>
				</div>
				<input type="text" class="form-control" aria-describedby="cong-dist">
			</div>
			<button id="runGerry" class="btn btn-outline-success btn-sm my-2 sameLine">Run Gerrymander</button>
			<button id="runGerryIncremental" class="btn btn-outline-success btn-sm my-2 sameLine">Step Iteration</button>
			<p class = "alert hide"> Please select a state first.</p>
			<hr>
			<div id="gerry-results" class="hide">
				<h6>Demographic Data of Current District</h6>
				<table class="table table-striped" id="demo-table">
					<thead class="thead-dark">
					<tr>
						<th scope="col">Demographic</th>
						<th scope="col">Population</th>
						<th scope="col">Percentage</th>
					</tr>
					</thead>
					<tbody id="demo-tbody">
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Annealing -->
<div id="anneal-pane" class="pane text-dark border">
	<div class="return-pane">
		<button name="paneToggle" class="btn btn-outline-secondary btn-circle nav-btn" type="button"
				data-toggle="toggle" data-target="#anneal-pane">
			<i class="fas fa-arrow-left"></i>
		</button>
	</div>
	<div id="anneal-contents" class="contents p-2">
		<div id="anneal-title" class="mb-3">
			<h4 class = "sameLine annealing"><i class="fas fa-chart-line mr-2"></i>Annealing</h4>
			<button id="runAnneal" class="btn btn-outline-success btn-sm my-2 sameLine">Show/Hide Districts</button>
		</div>
		<div id="anneal-run">
			<hr>
			<div id="anneal-measures">
				<h6>Measures</h6>

				<div class="measure1">
					Partisan Fairness:<br>
					Reock Compactness: <br>
					Convex Hull Compactness: <br>
					Edge Compactness: <br>
					Efficiency Gap: <br>
					Population Equality: <br>
					Population Homogeneity: <br>
					Competitiveness: <br>
					Gerrymander Republican: <br>
					Gerrymander Democratic: <br>
				</div>

				<div class="weights">
					<span class="weightValue" id="weight"></span>
					<input type="range" id="weightSlider" name="PARTISAN_FAIRNESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight2"></span>
					<input type="range" id="weightSlider2" name="REOCK_COMPACTNESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight3"></span>
					<input type="range" id="weightSlider3" name="CONVEX_HULL_COMPACTNESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight4"></span>
					<input type="range" id="weightSlider4" name="EDGE_COMPACTNESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight5"></span>
					<input type="range" id="weightSlider5" name="EFFICIENCY_GAP" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight6"></span>
					<input type="range" id="weightSlider6" name="POPULATION_EQUALITY" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight7"></span>
					<input type="range" id="weightSlider7" name="POPULATION_HOMOGENEITY" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight8"></span>
					<input type="range" id="weightSlider8" name="COMPETITIVENESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight9"></span>
					<input type="range" id="weightSlider9" name="GERRYMANDER_REPUBLICAN" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
					<span class="weightValue" id="weight10"></span>
					<input type="range" id="weightSlider10" name="GERRYMANDER_DEMOCRATIC" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div>
				<br><br>

				<!-- <div class="weights1">
					<input type="checkbox" class="m-1" name="measure" value="PARTISAN_FAIRNESS">Partisan Fairness:
					<span class="weightValue" id="weight"></span>
					<input type="range" id="weightSlider" name="PARTISAN_FAIRNESS" class="slider mb-2 weightslider" min="0" max="100" value="0">
				</div>
				<div class="weights2">
					<input type="checkbox" class="m-1" name="measure" value="REOCK_COMPACTNESS">Reock Compactness:
					<span class="weightValue" id="weight2"></span>
					<input type="range" id="weightSlider2" name="REOCK_COMPACTNESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div> -->
				<!-- <div class="weights3">
					<input type="checkbox" class="m-1" name="measure" value="CONVEX_HULL_COMPACTNESS">Convex Hull Compactness:
					<span class="weightValue" id="weight3"></span>
					<input type="range" id="weightSlider3" name="CONVEX_HULL_COMPACTNESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div>
				<div class="weights4">
					<input type="checkbox" class="m-1" name="measure" value="EDGE_COMPACTNESS">Edge Compactness:
					<span class="weightValue" id="weight4"></span>
					<input type="range" id="weightSlider4" name="EDGE_COMPACTNESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div>
				<div class="weights5">
					<input type="checkbox" class="m-1" name="measure" value="EFFICIENCY_GAP">Efficiency Gap:
					<span class="weightValue" id="weight5"></span>
					<input type="range" id="weightSlider5" name="EFFICIENCY_GAP" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div>
				<div class="weights6">
					<input type="checkbox" class="m-1" name="measure" value="POPULATION_EQUALITY">Population Equality:
					<span class="weightValue" id="weight6"></span>
					<input type="range" id="weightSlider6" name="POPULATION_EQUALITY" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div>
				<div class="weights7">
					<input type="checkbox" class="m-1" name="measure" value="POPULATION_HOMOGENEITY">Population Homogeneity:
					<span class="weightValue" id="weight7"></span>
					<input type="range" id="weightSlider7" name="POPULATION_HOMOGENEITY" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div>
				<div class="weights8">
					<input type="checkbox" class="m-1" name="measure" value="COMPETITIVENESS">Competitiveness:
					<span class="weightValue" id="weight8"></span>
					<input type="range" id="weightSlider8" name="COMPETITIVENESS" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div>
				<div class="weights9">
					<input type="checkbox" class="m-1" name="measure" value="GERRYMANDER_REPUBLICAN">Gerrymander Republican:
					<span class="weightValue" id="weight9"></span>
					<input type="range" id="weightSlider9" name="GERRYMANDER_REPUBLICAN" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div>
				<div class="weights10">
					<input type="checkbox" class="m-1" name="measure" value="GERRYMANDER_DEMOCRATIC">Gerrymander Democratic:
					<span class="weightValue" id="weight10"></span>
					<input type="range" id="weightSlider10" name="GERRYMANDER_DEMOCRATIC" class="slider mb-2 weightslider" min="0" max="100" value="0"><br>
				</div> -->

			</div>
			<button id="runAnneal" class="btn btn-outline-success btn-sm my-2">Run Annealing</button>
			<p class = "alert sameLine hide"> Please select a state first.</p>
			<hr>
		</div>
		<div id="anneal-results" class="hide">
			<div id="anneal-MM">
				<h6>Number of Majority-Minority Districts</h6>
				<table class="table table-striped">
					<thead class="thead-dark">
					<tr>
						<th scope="col">Before Annealing</th>
						<th scope="col">After Annealing</th>
					</tr>
					</thead>
					<tbody id="MM-tbody">
					</tbody>
				</table>
			</div>
			<div id="anneal-scores">
				<h6>Gerrymander Scores</h6>
				<table class="table table-striped">
					<thead class="thead-dark">
					<tr>
						<th scope="col" class="mr-2">Name</th>
						<th scope="col">Before Annealing</th>
						<th scope="col">After Annealing</th>
					</tr>
					</thead>
					<tbody id="scores-tbody">
					<tr>
						<td>0</td>
						<td>0</td>
						<td>0</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!-- Map -->
<div id="map"></div>

</body>

<script src="./js/buttons.js"></script>
<script src="./js/us-states.js"></script>
<script src="./js/gallia.js"></script>
<script src="./js/forms.js"></script>
<script src="./js/leaflet.js"></script>

<!--<script src="../static/js/buttons.js"></script>-->
<!--<script src="../static/js/us-states.js"></script>-->
<!--<script src="../static/js/gallia.js"></script>-->
<!--<script src="../static/js/forms.js"></script>-->
<!--<script src="../static/js/leaflet.js"></script>-->

</html>
