<html>

<head>
	<link rel="icon" href="favicon.ico">

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" />

	<link rel="stylesheet" href="./css/styles.css">
	<!--	 <link rel="stylesheet" href="../static/css/styles.css">-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/5cad909fe4.js" crossorigin="anonymous"></script>
	<script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"></script>

</head>

<body>

<!-- Navigation Bar -->
<div id="main-toolbar">
	<nav class="navigation-bar py-3 text-white">
		<div id="homeTab">
			<button id="homeBtn" class="btn btn-outline-light nav-btn" type="button">
				<i class="fas fa-home"></i>
				<p>Home</p>
			</button>
		</div>
		<div id="stateTab">
			<button id="stateDropdown" class="btn btn-outline-light nav-btn dropdown-toggle" type="button"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				<i class="fas fa-flag-usa"></i>
				<p>States</p>
			</button>
			<div class="dropdown-menu" aria-labelledby="stateDropdown">
				<a name="stateToggle" class="dropdown-item" data-toggle="toggle" data-target="#state-pane"
				   value="Ohio">Ohio</a>
				<a name="stateToggle" class="dropdown-item" data-toggle="toggle" data-target="#state-pane"
				   value="Alabama">Alabama</a>
				<a name="stateToggle" class="dropdown-item" data-toggle="toggle" data-target="#state-pane"
				   value="Oregon">Oregon</a>
			</div>
		</div>
		<div id="blocTab">
			<button id="blocBtn" class="btn btn-outline-light nav-btn" type="button" name="paneToggle"
					data-toggle="toggle" data-target="#bloc-pane">
				<i class="far fa-chart-bar"></i>
				<p>Bloc Analysis</p>
			</button>
		</div>
		<div id="gerryTab">
			<button id="gerryBtn" class="btn btn-outline-light nav-btn" type="button" name="paneToggle"
					data-toggle="toggle" data-target="#gerry-pane">
				<i class="fas fa-balance-scale-right"></i>
				<p>Gerrymander</p>
			</button>
		</div>
	</nav>
</div>

<!-- State -->
<div id="state-pane" class="pane text-dark border">
	<div class="return-pane">
		<button name="paneToggle" class="btn btn-outline-secondary btn-circle nav-btn" type="button"
				data-toggle="toggle" data-target="#state-pane">
			<i class="fas fa-arrow-left"></i>
		</button>
	</div>
	<div id="state-contents" class="contents p-2">
		<div id="state-title" class="mb-3">
			<h4><i class="fas fa-flag-usa mr-2"></i>States</h4>
		</div>
		<hr>
		<div id="election-results">
			<h6>Election Results</h6>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						<p>District</p>
					</th>
					<th scope="col">
						<p>Party</p>
					</th>
					<th scope="col">
						<p>Votes</p>
					</th>
					<th scope="col">
						<p>Percentage</p>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<p>District 1</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
					<td>
						<p>774,469</p>
					</td>
					<td>
						<p>51.3%</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>District 1</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
					<td>
						<p>774,469</p>
					</td>
					<td>
						<p>51.3%</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<div id="demo-results">
			<h6>Demographic Data</h6>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						<p>Demographic</p>
					</th>
					<th scope="col">
						<p>Population</p>
					</th>
					<th scope="col">
						<p>Percentage</p>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>123,456</p>
					</td>
					<td>
						<p>10.3%</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>Asian-Pacific</p>
					</td>
					<td>
						<p>100,46</p>
					</td>
					<td>
						<p>3.8%</p>
					</td>
				</tr>
				</tbody>
			</table>
			</table>
		</div>
		<div id="voting-data" class="hide">
			<h6>Voting Data</h6>
			<p>Donald J. Trump</p>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
			</div>
			<p>Hillary Clinton</p>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
			</div>
			<p>Gary Johnson</p>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
			</div>
		</div>
		<div id="district-demo-data" class="hide">
			<h6>District Demographic Data</h6>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">75%</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
			</div>
		</div>
		<div id="district-election-results" class = "hide">
			<h6>Election Results</h6>
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						<p>District</p>
					</th>
					<th scope="col">
						<p>Party</p>
					</th>
					<th scope="col">
						<p>Votes</p>
					</th>
					<th scope="col">
						<p>Percentage</p>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<p>District 1</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
					<td>
						<p>774,469</p>
					</td>
					<td>
						<p>51.3%</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>District 1</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
					<td>
						<p>774,469</p>
					</td>
					<td>
						<p>51.3%</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Bloc Analysis -->
<div id="bloc-pane" class="pane text-dark border">
	<div class="return-pane">
		<button name="paneToggle" class="btn btn-outline-secondary btn-circle nav-btn" type="button"
				data-toggle="toggle" data-target="#bloc-pane">
			<i class="fas fa-arrow-left"></i>
		</button>
	</div>
	<div id="bloc-contents" class="contents p-2">
		<div id="bloc-title" class="mb-3">
			<h4><i class="far fa-chart-bar mr-2"></i>Bloc Analysis</h4>
		</div>
		<hr>
		<div id="thresholds">
			<p class="mb-1">Bloc Population Threshold: <span id="population"></span> %</p>
			<input type="range" id="popSlider" class="slider mb-2" min="1" max="100" value="50">
			<p class="mb-1">Bloc Vote Threshold: <span id="vote"></span> %</p>
			<input type="range" id="voteSlider" class="slider mb-2" min="1" max="100" value="50">
			<button id="updateThresh" class="btn btn-outline-success btn-sm">Analyze</button>
		</div>
		<hr>
		<div id="bloc-results">
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						<p>Vote Bloc</p>
					</th>
					<th scope="col">
						<p>Precinct</p>
					</th>
					<th scope="col">
						<p>Demographic</p>
					</th>
					<th scope="col">
						<p>Party</p>
					</th>
				</tr>
				</thead>
				<tbody id="bloc-tbody">
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>Black</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>Hispanic</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>White</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				<tr>
					<td>
						<p>true</p>
					</td>
					<td>
						<p>Stony Brook</p>
					</td>
					<td>
						<p>African-American</p>
					</td>
					<td>
						<p>Democratics</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Gerrymander -->
<div id="gerry-pane" class="pane text-dark border">
	<div class="return-pane">
		<button name="paneToggle" class="btn btn-outline-secondary btn-circle nav-btn" type="button"
				data-toggle="toggle" data-target="#gerry-pane">
			<i class="fas fa-arrow-left"></i>
		</button>
	</div>
	<div id="gerry-contents" class="contents p-2">
		<div id="gerry-title" class="mb-3">
			<h4><i class="fas fa-balance-scale-right mr-2"></i>Gerrymander</h4>
		</div>
		<hr>
		<div id="gerry-demographics">
			<h6 class="mb-1">Majority-Minority Demographics</h6>
			<input type="checkbox" class="m-1" name="demographic" value="African-American"> African-American<br>
			<input type="checkbox" class="m-1" name="demographic" value="Asian Pacific"> Asian Pacific<br>
			<input type="checkbox" class="m-1" name="demographic" value="Hispanic"> Hispanic<br>
			<input type="checkbox" class="m-1" name="demographic" value="White"> White<br>
		</div>
		<div id="gerry-range">
			<p class="mt-2 mb-1">
				Demographic Population Range: <span id="popRange"></span>
			</p>
			<div id="slider-range"></div>
		</div>
		<h6 class="mb-2">Congressional Districts</h6>
		<div class="input-group input-group-sm">
			<div class="input-group-prepend">
				<span class="input-group-text" id="cong-dist">Desired Number of Cong. Districts</span>
			</div>
			<input type="text" class="form-control" aria-describedby="cong-dist">
		</div>
		<button id="runGerry" class="btn btn-outline-success btn-sm my-2">Run Gerrymander</button>
		<hr>
		<div id="gerry-results">
			<table class="table table-striped">
				<thead class="thead-dark">
				<tr>
					<th scope="col">
						<p>Current Majority Minority Districts</p>
					</th>
					<th scope="col">
						<p>Calculated Majority Minority Districts</p>
					</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>
						<p>1</p>
					</td>
					<td>
						<p>10</p>
					</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<!-- Map -->
<div id="map"></div>


</body>

<script src="./js/buttons.js"></script>
<script src="./js/us-states.js"></script>
<script src="./js/gallia.js"></script>
<script src="./js/forms.js"></script>
<script src="./js/leaflet.js"></script>

<!--<script src="../static/js/buttons.js"></script>-->
<!--<script src="../static/js/us-states.js"></script>-->
<!--<script src="../static/js/gallia.js"></script>-->
<!--<script src="../static/js/forms.js"></script>-->
<!--<script src="../static/js/leaflet.js"></script>-->

</html>
