/* Map CSS */
#map {
  height: 100%;
  width: 92%;
  z-index: 1;
  float: right;
  position: relative;
}


/* Nav Bar CSS */
.navigation-bar {
  z-index: 2;
  position: absolute;
  height: 100%;
  width: 8%;
  background: #537780;
}

.nav-btn {
  height: 10%;
  width: 100%;
  border: none;
  border-radius: 0px;
  padding-top: 25px;
  padding-bottom: 58px;
}

.dropdown-toggle::after {
  content: none;
}

.dropdown-item:active {
  background: lightgray;
}


/* Tab Pane CSS */
.pane {
  -webkit-transition: width 0.5s ease;
  -moz-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;

  z-index: 4;
  position: absolute;
  height: 100%;
  width: 0px;
  float: left;
  margin-left: -0.1%;
  overflow-y: hidden;
  overflow-x: hidden;
  background: white;
}

.pane.in{
  height: 100%;
  width: 450px;
  z-index: 3;
  position: absolute;
  background: white;
}

#legalGuide{
  margin-left: 2rem;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 150%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.sameLine{
  display: inline-block;
  vertical-align: middle;
}

.progress{
  margin-bottom: 1rem;
}

.contents {
  z-index: 3;
  position: absolute;
  height: 100%;
  left: 40px;
  width: 400px;
  margin-top: 5px;
}

.return-pane {
  height: 100%;
  width: 30px;
  margin-left: 10px;
  position: absolute;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
  margin-top: 15px;
}


/* States CSS */
#election-results {
  overflow: auto;
}

html > body #election-results {
  overflow: hidden;
  height: 180px;
}

#election-years {
    width: 100%;
    text-align: center;
    font-size: 13px;
}

.election1 {
    float: left;
}

.election2 {
    float: left;
}

.election3 {
    float: left;
}

#election-results tbody {
  display: block;
  height: 80px;
  width: 100%;
  overflow: auto;
  overflow-x: auto;
}

#voting-data{
  margin-top: 1rem;
}

#district-demo-data{
  margin-top: 1rem;
}

#demo-results,#pop-dist {
  margin-top: 10px;
  overflow: auto;
}

html > body #demo-results, html > body #pop-dist {
  overflow: hidden;
  height: 250px;
}

#demo-results tbody, #pop-dist tbody {
  display: block;
  height: 200px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}

.weightValue{
  position: absolute;
  margin-left: 6.7rem;
  margin-top: -.2rem;
}


/* Bloc Analysis CSS */
.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 11.6px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: .3rem;
  }

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 10px;
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 15px;
  background: #4CAF50;
  cursor: pointer;
}

#bloc-results {
  overflow: auto;
}

html > body #bloc-results {
  overflow: hidden;
  height: 500px;
}

#bloc-results tbody {
  display: block;
  height: 460px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}


/* Gerrymander CSS */
#gerry-demographics {
  font-size: 13px;
}

#slider-range{
  margin-bottom: 20px;
}

#gerry-results {
  overflow: auto;
}

html > body #gerry-results {
  overflow: hidden;
  height: 240px;
}

#gerry-results tbody {
  display: block;
  height: 170px;
  width: 100%;
  overflow: auto;
  overflow-x: hidden;
}


/* Anneal CSS */
#anneal-measures {
    font-size: 13px;
}

.measure1{
  float: left;
}

.weights{
  float: right;
}

#anneal-results {
    overflow: auto;
    height: 300px;
}

#MM-tbody{
    height: 40px;
}

#scores-tbody{
    height: 40px;
}

.annealing{
  margin-right: 3rem;
}


/* General CSS */
body {
  overflow: hidden;
}

.hide{
  display: none;
}

p {
  font-size: 13px;
  margin-bottom: 0%;
}

hr {
  margin: 10px;
}

table {
  float: center;
  font-size: 13px;
}

thead tr {
  position: relative;
}

tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

tbody td {
  border: 1px solid lightgray;
  word-wrap: break-word;
}

html > body thead {
  display: table;
  overflow: auto;
  width: 100%;
}
